.blogPage {
    width: 100%;
    height: 100vh;
    position: relative;

    .loader_blog {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 50;
        display: grid;
        place-content: center;
    }

    .inner {
        width: 90%;
        min-height: 100vh;
        margin: auto;
        padding-top: 70px;
        padding-bottom: 20px;

        .imageCon {
            width: 100%;
            height: 30vh;
            position: relative;
            border: 1px dotted black;
            background-position: center;

            div {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.4);
                position: absolute;
                top: 0px;
                left: 0px;
                display: grid;
                place-content: center;
                text-transform: uppercase;
                font-size: 40px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 600;
                letter-spacing: 1px;
                word-spacing: 5px;
                color: white;
                z-index: 5;
                text-align: center;
                padding: 10px;
            }

        }

        .title {
            font-size: 18px;
            margin-top: 30px;
            font-weight: 600;
        }

        .Description {
            margin-top: 10px;
            min-height: 20vh;
        }

        .bottomHeader {
            width: 100%;
            font-size: 14px;
            font-weight: 600;
            margin-top: 30px;
            border-bottom: 1px solid #D6D6D6;
            padding-bottom: 5px;
            font-family: Arial, Helvetica, sans-serif;
            position: relative;

            .rightArrow {
                position: absolute;
                right: 40px;
                top: -8px;
                cursor: pointer;
                color: #797979;

                &:hover {
                    color: #474747;
                }
            }

            .leftArrow {
                position: absolute;
                right: 0px;
                top: -8px;
                cursor: pointer;
                color: #797979;

                &:hover {
                    color: #474747;
                }
            }
        }

        .blogCardCon {
            width: 100%;
            padding-top: 25px;
            padding-bottom: 15px;
            overflow-x: scroll;
            white-space: nowrap;

            &::-webkit-scrollbar {
                display: none;
            }
        }

    }
}


@media (max-width:768px) {
    .blogPage {
        .inner {
            .imageCon {
                div {
                    font-size: 30px;
                }
            }
        }
    }
}